<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Money Checker</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">Money Checker</a></h1>
    <nav>
      <a href="{% url 'main' %}">Главная страница</a>
      {% if user.is_anonymous %}
        <div style="text-align: right">
            <a href="{% url 'registration' %}">Регистрация</a>
            <a href="{% url 'auth' %}">Авторизация</a>
        </div>
      {% else %}
        <div style="text-align: right">
            <b>Пользователь: {{ user.username }}</b>
            <a href="{% url 'logout' %}">Выход</a>
        </div>
      {% endif %}
    </nav>
    {% block content %} {% endblock %}
</body>
</html>